<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <link href="${res!}/css/wxm-index.css" rel="stylesheet">
    <link href="${res!}/css/wxm-menu.css" rel="stylesheet">
    <link href="${res!}/css/wxm-tabpage.css" rel="stylesheet">
    <link href="${res!}/css/wxm-scroll.css" rel="stylesheet">
    <link href="${res!}/css/ztree-metro.css" rel="stylesheet">
</head>
<sm-title>首页</sm-title>
<sm-script>
    <script src="${res!}/js/wxm-extends.js"></script>
    <script src="${res!}/js/wxm-index.js"></script>
    <script src="${res!}/js/wxm-menu.js"></script>
    <script src="${res!}/js/wxm-tabpage.js"></script>
    <script src="${res!}/js/wxm-scroll.js"></script>
    <script src="${res!}/js/jquery.ztree.all.js"></script>
</sm-script>
<sm-body-cls>wxm-index-body</sm-body-cls>

<body>
    <div class="wxm-console navbar-text"></div>
    <nav class="wxm-navbar navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="logo" src="${ctx!}/images/logo.png">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> <span class="badge badge-danger">2</span></a></li>
                    <li><a href="#"><i class="fa fa-envelope text-primary" aria-hidden="true"></i> <span class="badge badge-primary">8</span></a></li>
                    <li><a href="#"><i class="fa fa-calendar text-info" aria-hidden="true"></i> <span class="badge badge-info">99+</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i> Gysele <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i> 个人信息</a></li>
                            <li><a href="#"><i class="fa fa-key" aria-hidden="true"></i> 修改密码</a></li>
                            <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 我的计划</a></li>
                            <li><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i> 我的任务</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-signout" aria-hidden="true"></i> 注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wxm-wrapper clearfix">
        <aside class="wxm-aside pull-left">
            <div class="wxm-aside-lock text-center" data-toggle="tooltip" data-placement="top" title="解除锁定，自动隐藏导航栏"><i class="fa fa-lock"></i></div>
            <div class="wxm-user container clearfix">
                <img src="${ctx!}/images/angel.jpg" class="wxm-user-img img-responsive img-circle pull-left" alt="User image">
                <h5 class="wxm-user-info">Gysele WXM</h5>
                <h6 class="wxm-user-info">所属部门</h6>
            </div>
            <div class="wxm-menu wxm-scroll">
                <ul class="ztree" data-toggle="scroll">
                    <li>
                        <a href="#">的告诉对方1</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方2</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方3</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方4</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方5</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方6</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方7</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方8</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方9</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方10</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方11</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方12</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方13</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方14</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方15</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方16</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方17</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方18</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方19</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方20</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方21</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方22</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方23</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方24</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方25</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方26</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方27</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方28</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方29</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方30</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方31</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方32</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方33</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方34</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方35</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方36</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方37</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方38</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方39</a>
                    </li>
                    <li>
                        <a href="#">的告诉对方40</a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="wxm-container">
            <div class="wxm-tab">
                <div class="wxm-tab-bar">
                    <!-- wxm-tab-bar-more -->
                    <ul class="list-unstyled">
                        <li class="active">
                            <a href="#"><i class="fa fa-home"></i>我的主页</a>
                        </li>
                        <!-- 
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li>
                        <li>
                            <a href="#">的告诉对方</a>
                        </li> -->
                    </ul>
                </div>
                <div class="wxm-tab-left hide"><i class="fa fa-double-angle-left" aria-hidden="true"></i></div>
                <div class="wxm-tab-right hide"><i class="fa fa-double-angle-right" aria-hidden="true"></i></div>
                <div class="wxm-tab-more dropdown">
                    <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-double-angle-down" aria-hidden="true"></i>
                    </span>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="# ">sssss</a></li>
                        <li><a href="# ">sssss</a></li>
                        <li><a href="# ">sssss</a></li>
                        <li><a href="# ">sssss</a></li>
                        <li><a href="# ">sssss</a></li>
                        <li><a href="# ">sssss</a></li>
                        <li><a href="# ">sssss</a></li>
                    </ul>
                </div>
            </div>
            <div class="wxm-page ">
                <div class="wxm-page-box">
                    <iframe src="${ctx!}/home/main"></iframe>
                </div>
                <div class="wxm-page-box hide">
                    <iframe src="${ctx!}/home/main"></iframe>
                </div>
                <div class="wxm-page-box hide">
                    <iframe src="${ctx!}/home/main"></iframe>
                </div>
            </div>
        </div>
    </div>
    <footer class="wxm-footer ">
        <p class="text-center ">Gysele</p>
    </footer>
</body>
</html>